{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
    <script src="form.js">
    </script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>

    </style>
</head>

<body>
    <div class="bg-img">
        <div class="content">
            <header>Login</header>
            <form method="POST" action="{% url 'login'%}">
                {% csrf_token %}
                <div class="field">
                    <span class=" fa fa-user"></span>
                    <input type="text" placeholder="Phone or email" id="username" name="username">
                </div><br>
                <div class="field">
                    <span class="fa fa-lock"></span>
                    <input type="password" placeholder="password" id="password" name="password"></div>
                {% if error %}
                <div class="error">
                    {{error}}
                </div>
                {% endif %}
                <div class="field space">
                    <input type="submit" value="Login">
                </div>
            </form><br>
            <div class="He">
                <p class="hello">Didn't Register?<a href="{% url 'register' %}" style="color:#54ebe3;"> register here</a></p>
            </div>
        </div>
    </div>

</body>

</html>